.idea/
.env
.eggs/
.pytest_cache/
*__pycache__
app.egg-info/
venv
.terraform
.DS_Store
deploy/dev/terraform/.terraform
*.pyc
.coverage
.vscode
coverage.svg
.c9/
*.egg-info/

# backend
backend/test-results/*

# datasync
datasync/test-results/*

# custom dashboards components
frontend/src/components/dashboards/custom-dashboard/
!frontend/src/components/dashboards/custom-dashboard/README.md
frontend/dashboards

# frontend dependencies
frontend/node_modules

# frontend testing
frontend/coverage
frontend/output
frontend/test/coverage
frontend/test/output

# frontend production build
frontend/build

# frontend misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
